      - name: Prepare build artifacts
        run: |
          # create .dmg
          appName="qbittorrent"
          if [ "${{ matrix.qbt_gui }}" = "GUI=OFF" ]; then
            appName="qbittorrent-nox"
          fi
          # package
          pushd build
          PACKAGE_RETRY=0
          while [ "$PACKAGE_RETRY" -lt "3" ]; do
            macdeployqt "$appName.app" -dmg -no-strip
            if [ -f "$appName.dmg" ]; then
              break
            fi
            sleep 5
            PACKAGE_RETRY=$((PACKAGE_RETRY + 1))
            echo "Retry $PACKAGE_RETRY..."
          done
          popd

          # remove quarantine so macOS will open the app
          if [ "${{ matrix.qbt_gui }}" = "GUI=OFF" ]; then
            xattr -r -d com.apple.quarantine build/qbittorrent-nox.app || true
            codesign --force --deep --sign - build/qbittorrent-nox.app || true
          else
            xattr -r -d com.apple.quarantine build/qbittorrent.app || true
            codesign --force --deep --sign - build/qbittorrent.app || true
          fi

          # copy .dmg and compile commands for artifact upload
          mkdir -p upload
          cp "build/$appName.dmg" upload
          mkdir -p upload/cmake
          cp build/compile_commands.json upload/cmake
          mkdir -p upload/cmake/libtorrent
          cp ${{ env.libtorrent_path }}/build/compile_commands.json upload/cmake/libtorrent
