name: Build and Release qBittorrent (M2)

on:
  workflow_dispatch: # Allows you to trigger this manually
  push:
    tags:
      - 'v*' # Triggers a release when you push a tag like v5.1.4

permissions:
  contents: write
  actions: write

jobs:
  build:
    name: Build
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        libt_version: ["1.2.20"]
        qbt_gui: ["GUI=ON", "GUI=OFF"]
        qt_version: ["6.8.1"]

    env:
      boost_path: "${{ github.workspace }}/../boost"
      libtorrent_path: "${{ github.workspace }}/../libtorrent"

    steps:
      - name: Checkout qBittorrent
        uses: actions/checkout@v4
        with:
          repository: qbittorrent/qBittorrent
          ref: 'release-5.1.4'

      - name: Install dependencies
        run: brew install openssl@3 zlib cmake ninja boost

      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: ${{ matrix.qt_version }}
          archives: qtbase qtdeclarative qtsvg qttools
          modules: qtimageformats
          cache: true

      - name: Install libtorrent (1.2.20)
        run: |
          git clone --branch v${{ matrix.libt_version }} --depth 1 --recurse-submodules https://github.com/arvidn/libtorrent.git ${{ env.libtorrent_path }}
          cd ${{ env.libtorrent_path }}
          cmake -B build -G "Ninja" -DCMAKE_BUILD_TYPE=Release -Dboost-python=OFF -Dencryption=ON -Dpython-bindings=OFF
          cmake --build build
          sudo cmake --install build

      - name: Build qBittorrent
        run: |
          cmake -B build -G "Ninja" -DCMAKE_BUILD_TYPE=Release -D${{ matrix.qbt_gui }}
          cmake --build build

      - name: Prepare Artifacts
        run: |
          mkdir -p upload
          if [ "${{ matrix.qbt_gui }}" = "GUI=ON" ]; then
            appName="qbittorrent"
            macdeployqt "build/${appName}.app" -no-strip
            codesign --force --sign - "build/${appName}.app"
            hdiutil create -fs HFS+ -srcfolder "build/${appName}.app" -volname "${appName}" "upload/qBittorrent-5.1.4-LibT1.2.dmg"
          else
            appName="qbittorrent-nox"
            binaryPath="build/${appName}.app/Contents/MacOS/${appName}"
            cp "$binaryPath" "upload/qbittorrent-nox"
            chmod +x "upload/qbittorrent-nox"
          fi

      - name: Create Release and Upload
        uses: softprops/action-gh-release@v2
        with:
          tag_name: "v5.1.4-custom"
          name: "qBittorrent 5.1.4 (Libtorrent 1.2.20)"
          body: "Custom build for macOS M2 (ARM64). Includes GUI (.dmg) and NOX (binary)."
          files: |
            upload/qBittorrent-5.1.4-LibT1.2.dmg
            upload/qbittorrent-nox
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
